<form method="POST" class="d-flex flex-column w-50 m-auto my-5" enctype="multipart/form-data" action="/user/login">
    <input type="text" name="name" placeholder="Логин">
    <input type="text" name="password" placeholder="Пароль">
    <button type="submit" class="btn btn-primary">Войти</button>
</form>