# Exclude node_modules directory
node_modules

# Exclude log files
*.log

# Exclude build artifacts
build

# Exclude development files
*.dev
*.ts
# Exclude configuration files
*.config
nodemon.json
tsconfig.json
# Exclude temporary files
*.tmp

# Exclude any other files or directories you want to exclude